{% extends 'base.html.twig' %}


{% block body %}

    <h1>{{ categories.name }}</h1>
    {% for article in articles %}
        <div>
            <h2>{{ article.id }} / {{ article.title }} - Category : {{ article.category.name }}</h2>
            <p>{{ article.content }}</p>
        </div>

    {% endfor %}

    <a href="{{ path('app_index') }}">
        Back to homepage.
    </a>

{% endblock %}