<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}



    </head>
    <body>

    <header>{% include 'Inc/navbar.html.twig' %} </header>

    {% if app.user %}
        {% trans with {'%username%': app.user.email} %}
            hello_username
        {% endtrans %} !
        <a href="{{ path('app_logout') }}"> {{ 'account.logout'|trans }}</a>
    {% else %}
        <a href="{{ path('app_login') }}"> {{ 'account.login'|trans }}</a>
    {% endif %}
    <div class="container">
        {% for category, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% block body %}{% endblock %}
    </div>
    <script src="https://kit.fontawesome.com/f62deca48c.js"></script>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    </body>
</html>
