{% extends 'base.html.twig' %}

{% block title %}{{ 'article.index' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'article.index' | trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{ 'article.title' | trans }}</th>
                <th>{{ 'article.content' | trans }}</th>
                <th>{{ 'article.category' | trans }}</th>
                <th>Tag</th>
                <th>{{ 'article.action' | trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.content }}</td>
                <td>{{ article.category.name }}</td>
                <td>
                    {% for tag in article.tags %}
                        {{ tag.name }}
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('article_show', {'id': article.id}) }}">{{ 'article.show' | trans }}</a>
                {% if is_granted('EDIT', article) %}
                    <a href="{{ path('article_edit', {'id': article.id}) }}">{{ 'article.edit' | trans }}</a>
                {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{ 'article.no.data' | trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('article_new') }}">{{ 'article.new' | trans }}</a>
{% endblock %}
