{% extends 'base.html.twig' %}

{% block title %}{{ 'article.new' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'article.new' | trans }}</h1>

    {{ include('article/_form.html.twig') }}

    <a href="{{ path('article_index') }}">{{ 'back' | trans }}</a>
{% endblock %}
